.env
server/*

!server/bukkit.yml
!server/spigot.yml
!server/paper-global.yml
!server/paper-world-defaults.yml

server/.paper.env
server/.papermc-manifest.json
server/.rcon-cli.env
server/.rcon-cli.yaml
server/eula.txt
server/version_history.json
server/plugins
server/world*
server/logs
server/*.json
server/*.properties

backups/

*.tmp
*.log

.DS_Store
Thumbs.db